:root {
    --theme-color-light:salmon;
    --theme-color-medium: tomato;
    --theme-color-heavy: crimson;
    --theme-color-neon: fuchsia;
    --theme-color-background: linear-gradient(0deg, rgb(41, 7, 15) 0%, rgb(223, 45, 45) 100%);
}