/* === Fonts === */







/* === GLOBAL === */
:root {
    --red-danger: #F7000D;
    --green-light: #98de2c;
    --green-medium: #9ACD32;
    --green-heavy: #228B22;
    --green-neon: #4efd54;
    --grey-verylight: #f9f8fa;
    --grey-light: #e9ecef;
    --grey-medium: #DADADA;
    --grey-heavy: #495057;
    --gold: #FFD700;

    --text-shadow-standard: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

    --container-transition: box-shadow .5s ease-in-out;
    --container-hover: 0 0 1000px white inset;

    --background-standard: radial-gradient(circle, rgba(190,190,190,1) 23%, rgba(118,123,128,1) 81%, rgba(80,86,91,1) 98%);
    --background-nav: radial-gradient(circle, rgba(190,190,190,1) 23%, rgba(153,158,163,1) 81%);

    --transition-input: box-shadow .5s ease-in-out, outline .5s ease-in-out;
    --transition-button: background-color .2s ease-in-out, border .2s ease-in-out, color .2s ease-in-out;

    --border-standard: black 1px solid;
    --border-standard-btn: black 3px solid;
    --border-hover-btn: var(--green-neon) 2px solid;
    --border-container: black 2px solid;
    --border-active: black 3px solid;
    --border-radius: 20px;
    --box-shadow-active: 0px 0px 10px var(--grey-heavy) inset;
    /* --primaere-schriftart: Raleway; */
    /* --sekundaere-schriftart: Arial; */
    /* --fallback-schriftart: sans-serif; */
}

html {
    font-size: 16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: linear-gradient(0deg, rgba(10,41,7,1) 0%, rgba(103,175,18,1) 100%);
}

body {
    margin: 0;
    display: -ms-grid;
    display: grid;
    /* -ms-grid-columns: [col-1-start] 2rem 1fr 2rem [col-1-end 2rem col-2-start] 2rem 2fr 2rem [col-2-end 2rem col-3-start] 2rem 1fr 2rem [col-3-end]; */
    grid-template-columns: [col-1-start] 1fr [col-1-end col-2-start] 2fr [col-2-end col-3-start] 1fr [col-3-end];
    /* -ms-grid-rows: [row-1-start] 2rem auto 2rem [row-1-end 2rem row-2-start] 2rem auto 2rem [row-2-end 2rem row-3-start] 2rem auto 2rem [row-3-end 2rem row-4-start] 2rem auto 2rem [row-4-end]; */
    grid-template-rows: [row-1-start] auto [row-1-end row-2-start] auto [row-2-end row-3-start] auto [row-3-end row-4-start] auto [row-4-end];
    grid-template-areas: "header header header"
        "main main additional"
        ". list additional"
        "footer footer footer";
    gap: 2rem 2rem;
    min-height: 100vh;
}

main {
    display: grid;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
}

/* === GENERAL === */
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.container {
    display: flex;
    flex-direction: column;
    /* -ms-grid-row: 3; */
    /* -ms-grid-column: 2; */
    grid-area: list;
    padding: 1rem 1rem;
    border-radius: var(--border-radius);
    margin-right: 1rem;
    background-color: var(--grey-light);
    border: var(--border-container);
    min-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem .5rem;
    width: 70%;
}

.form-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: .5rem;
}

.hidden {
    display: none;
}

select {
    -webkit-appearance: none;
    color: black;
}

hr {
    border-width: 3px;
    border-radius: var(--border-radius);
    border-color: black;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

.error-box {
    position: absolute;
    font-size: 1rem;
    background-color: var(--grey-medium);
    color: var(--red-danger);
    border-radius: var(--border-radius);
    border: var(--red-danger) 4px solid;
    padding: .5rem .5rem;
    text-align: center;
}

/* === BUTTONS === */
.btn {
    color: black;
    margin: 0 .5rem;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: var(--border-radius);
    background-color: var(--green-light);
    border: var(--border-standard-btn);
    transition: var(--transition-button);
}

.btn:hover {
    background-color: var(--green-heavy);
    border: var(--border-hover-btn);
    color: var(--green-neon);
}

.cancel-btn {
    margin: 0 .5rem;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: var(--border-radius);
    background-color: transparent;
    border: var(--border-standard-btn);
    color: var(--red-danger);
    border-color: var(--red-danger);
    transition: var(--transition-button);
    font-weight: bold;
}

.cancel-btn:hover {
    background-color: var(--red-danger);
    color: black;
    border-color: black;
}

.logout-btn {
    background-color: transparent;
    padding: .5rem 1rem;
    border: var(--border-standard-btn);
    border-radius: var(--border-radius);
    transition: var(--transition-button);
    color: var(--red-danger);
    border-color: var(--red-danger);
    font-weight: bold;
}

.logout-btn:hover {
    background-color: var(--red-danger);
    color: black;
    border-color: black;
}

.btn-small {
    display: inline-block;
    font-size: .6rem;
    border-radius: var(--border-radius);
    border: black .5px solid;
    width: 3rem;
    height: 1.5rem;
    margin: .1rem;
    padding: .2rem .5rem;
    text-align: center;
    font-weight: bold;
    transition: var(--transition-button);
    background-color: transparent;
}

.like-btn-small {
    color: black;
    display: inline-flex;
    font-size: .6rem;
    border-radius: var(--border-radius);
    border: black .5px solid;
    width: 3rem;
    height: 1.5rem;
    margin: .1rem;
    padding: .2rem .5rem;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    transition: var(--transition-button);
}

.btn-delete {
    color: var(--red-danger);
    border-color: var(--red-danger);
    background-color: transparent;
    transition: var(--transition-button);
    border-width: 3px;
    font-weight: bold;
}

.btn-delete:hover {
    background-color: var(--red-danger);
    color: black;
    border-color: black;
}

.btn-small-hover:hover {
    background-color: var(--green-heavy);
    border: var(--border-hover-btn);
    color: var(--green-neon);
}

/* === KEYFRAMES === */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

/* xxxxxxxxxxxxxxxxxxxxx MAIN-VIEW xxxxxxxxxxxxxxxxxxxxx */
/* === HEADER-BANNER === */
.header-container {
    /* -ms-grid-row: 1; */
    /* -ms-grid-column: 1; */
    -ms-grid-column-span: 5;
    grid-area: header;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 3rem;
    flex-wrap: wrap;
    width: 100%;
}

.header-container>a {
    display: flex;
    justify-content: center;
    background-color: transparent;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#header-banner-name {
    color: white;
    text-shadow: var(--text-shadow-standard);
    text-decoration: unset;
    text-transform: uppercase;
    font-size: 2.25rem;
    letter-spacing: .15rem;
    font-weight: bold;
}
/* === NAVIGATION === */
.header-container>div{
    width: 50%;
    border: var(--border-container);
    border-radius: var(--border-radius);
    background: var(--background-nav);
    margin-top: .5rem; 
}

.nav-container {
    font-size: 1.25rem;
}

.nav-container>ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.nav-container>ul>li{
    display: block;
    width: 25%;
    text-align: center;
    justify-items: center;
}

.nav-element {
    display: block;
    color: inherit;
    height: 100%;
}

#nav-content>.nav-element {
    text-shadow: none;
}

#nav-content>.nav-element:hover {
    text-shadow: var(--text-shadow-standard);
}

#nav-content>.active_sub {
    text-shadow: var(--text-shadow-standard);
}

.dropdown{
    position: relative;
}

#nav-content {
    display: none;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 47px;
    background: var(--background-nav);
    border: var(--border-active);
    border-radius: 0 0px 20px 20px;
    border-top: none;
    font-size: 1rem;
    color: black;
    
}

.dropdown:hover #nav-content {
    display: flex;
    flex-direction: column;
    height: 147px;
    animation-duration: 1s;
    animation-name: dropdowngrow;
    z-index: 4;
}

.dropdown:hover #nav-content .nav-element {
    animation-duration: 1s;
    animation-name: fadeIn;
}

@keyframes dropdowngrow {
    0%  {height: 1px;}
    
    100% {height: 147px;}
}

.active_sub {
    color: white;
    text-shadow: var(--text-shadow-standard);
}

#nav-content>a:hover {
    font-weight: bold;
}

.nav-container>ul>.dropdown:hover {
    border-bottom: none;
}

.nav-element:hover {
    color: white;
    font-weight: bold;
    text-shadow: var(--text-shadow-standard);
}


.active:nth-of-type(1) {
    border-radius: 20px 0px 0px 20px;
    box-shadow: var(--box-shadow-active);
    color: white;
    text-shadow: var(--text-shadow-standard);
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0;
}

.active:nth-of-type(2),
.active:nth-of-type(3){
    box-shadow: var(--box-shadow-active);
    color: white;
    text-shadow: var(--text-shadow-standard);
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0;
}

/* === FOOTER === */
.footer {
    /* -ms-grid-row: 1; */
    /* -ms-grid-column: 1; */
    -ms-grid-column-span: 7;
    grid-area: footer;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    font-size: 1rem;
    color: white;
    background-color: transparent;
}

/* xxxxxxxxxxxxxxxxxxxxx START-VIEW xxxxxxxxxxxxxxxxxxxxx */
#start-container {
    display: flex;
    flex-direction: column;
    /* -ms-grid-row: 3; */
    /* -ms-grid-column: 2; */
    grid-area: list;
    padding: 1rem 1rem;
    border-radius: var(--border-radius);
    margin-right: 1rem;
    background: var(--background-standard);
    transition: var(--container-transition);
    border: var(--border-container);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#start-container:hover {
    box-shadow: var(--container-hover);
}

div.start-box {
    width: 10rem;
    align-self: center;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    border: var(--border-container);
    border-radius: var(--border-radius);
    background-color: var(--green-heavy);
    box-shadow: 0px 0px 20px black;
    color: white;
    text-shadow: var(--text-shadow-standard);
    font-size: 2rem;
    transition: background-color .3s ease-in-out, border-color .3s ease-in-out, box-shadow .3s ease-in-out, color .3s ease-in-out;
}

#start-container > div.start-box:hover {
    background-color: var(--green-medium);
    border-color: black;
    box-shadow: 0px 0px 20px var(--green-neon);
    color: black;
    text-shadow: none;
}

#start-container>.start-box>span>a {
    display: inline-flex;
    justify-content: center;
    padding: 1rem .5rem;
    color: inherit;
    height: 100%;
    width: 100%;
}

/* xxxxxxxxxxxxxxxxxxxxx MAIN-VIEW xxxxxxxxxxxxxxxxxxxxx */
/* .pie-chart { */
    /* max-height: 200px; */
    /* max-width: 200px; */
/* } */

/* xxxxxxxxxxxxxxxxxxxxx REGISTER-VIEW xxxxxxxxxxxxxxxxxxxxx */
.container-register {
    display: flex;
    flex-direction: column;
    /* -ms-grid-row: 3; */
    /* -ms-grid-column: 2; */
    grid-area: list;
    padding: 1rem 1rem;
    border-radius: var(--border-radius);
    margin-right: 1rem;
    transition: var(--container-transition);
    background: var(--background-standard);
    border: var(--border-container);
    min-width: 50rem;
    margin-left: auto;
    margin-right: auto;
}

.container-register:hover {
    box-shadow: var(--container-hover);
}

.form-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem .5rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.form-register>div {
    width: 100%;
}

.form-register>h1 {
    margin: 1rem 0;
}

.form-register h3 {
    margin: .5rem 0;
}

.row-register {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    margin-top: .5rem;
    margin-left: auto;
    margin-right: auto;
}

.btn-row {
    width: 100%;
    margin-top: 1rem;
    display: inline-flex;
    justify-content: center;
}

.row-register>label {
    display: inline-block;
    text-align: center;
    height: 100%;
    width: 200px;
    padding: .8rem 1rem;
    background-color: var(--grey-heavy);
    color: white;
    cursor: text;
    border: var(--border-standard);
    border-radius: 20px 0px 0px 20px;
    transition: font-weight .2s ease-in-out, font-size .2s ease-in-out, padding .2s ease-in-out;
}

.row-register>input[type="number"],
.row-register>input[type="password"],
.row-register>input[type="text"] {
    display: block;
    width: 300px;
    border: var(--border-standard);
    outline: 0;
    transition: var(--transition-input);
    border-radius: 0px 20px 20px 0px;
    padding-left: .5rem;
    font-size: inherit;
    font-family: inherit;
    margin-right: 1rem;
    background-color: var(--grey-medium);
}

.row-register>input[type="checkbox"] {
    display: block;
    width: 20px;
    border: var(--border-standard);
    outline: 0;
    transition: var(--transition-input);
    border-radius: 0px 20px 20px 0px;
    padding-left: .5rem;
    font-size: inherit;
    font-family: inherit;
}

/* #TODO: Position ändern */
.row-register img:hover+span {
    position: absolute;
    display: block;
    right: 200px;
    top: 150px;
    width: 200px;
    height: 100px;
    font-size: 1rem;
    background-color: var(--grey-heavy);
    color: white;
    border-radius: var(--border-radius);
    border: black 1px solid;
    padding: .5rem .5rem;
}

div.registry-error {
    display: inline-block;
    top: 200px;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    justify-content: left;
}

div.registry-error:hover {
    cursor: pointer;
}

div.registry-error>h2{
    margin-bottom: .25rem;
}

div.registry-error>span {
    display: inline-block;
    font-weight: bold;
    width: 90%;
    margin: .25rem .5rem;
}

/* xxxxxxxxxxxxxxxxxxxxx LOGIN-VIEW xxxxxxxxxxxxxxxxxxxxx */
section.login-container {
    display: flex;
    flex-direction: column;
    /* -ms-grid-row: 3; */
    /* -ms-grid-column: 2; */
    grid-area: list;
    padding: 1rem 1rem;
    border-radius: var(--border-radius);
    margin-right: 1rem;
    background: var(--background-standard);
    transition: var(--container-transition);
    border: var(--border-container);
    min-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

section.login-container:hover {
    box-shadow: var(--container-hover);
}

section.login-container>h1 {
    text-align: center;
    margin-bottom: .5rem;
    font-size: 2rem;
}

/* xxxxxxxxxxxxxxxxxxxxx HOMEPAGE-VIEW xxxxxxxxxxxxxxxxxxxxx */
section.homepage-container {
    position: relative;
    display: grid;
    grid-area: list;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem 3.5rem;
    border-radius: var(--border-radius);
    background: rgba(73,80,87,0.15);
}

.charts-container {
    display: flex;
    flex-direction: column;   
    padding: 2rem .5rem;
    margin: 1rem 0;
    border-radius: var(--border-radius);
    transition: var(--container-transition);
    background: var(--background-standard);
    border: var(--border-container);
}

.charts-container:hover {
    box-shadow: var(--container-hover);
}

.charts-container-row {
    position: relative;
    display: flex;
    flex-direction: row;  
    align-items: center;
    justify-content: center;
    margin-top: .5rem;
    width: 100%;
}

.charts-container-row>h1 {
    font-size: 2.5rem;
    margin-bottom: .5rem;
}

.charts-container-row>span {
    font-size: 1.25rem;
}

.chartScopeForm>input[type="submit"] {
    color: white;
    width: 7rem;
    height: 2.5rem;
    padding: .25rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: var(--grey-heavy);
    border: var(--border-standard-btn);
    transition: var(--transition-button);
}

.chartScopeForm>input[type="submit"].chosen,
.chartScopeForm>input[type="submit"]:hover {
    background-color: var(--grey-light);
    color: black;
    box-shadow: 0px 0px 8px black inset;
}

#homepage-donationEntries {
    min-width: 550px;
    max-width: 50%;
}

#homepage-donationEntries caption {
    font-size: 1.5rem;
    margin-bottom: .5rem;
    font-weight: bold;
}

#homepage-donationEntries thead td {
    background-color: var(--green-heavy) !important;
    color: black !important;
}

#homepage-donationEntries tr {
    text-align: center;
}

#homepage-donationEntries td {
    font-size: 1.15rem;
    padding: .25rem .5rem;
    text-overflow: ellipsis;
    height: 2rem;
    border: 1px solid black;
    transition: border-color .5s ease-in-out, box-shadow .5s ease-in-out, color .5s ease-in-out, text-shadow .5s ease-in-out;
}

#homepage-donationEntries tr:hover td {
    border-color: var(--gold);
    box-shadow: 0px 0px 10px var(--gold);
    color: var(--gold) !important;
    text-shadow: var(--text-shadow-standard);
}

#homepage-donationEntries tr:nth-of-type(odd) td {
    background-color: var(--grey-heavy);
    color: white;
}

#homepage-donationEntries tr:nth-of-type(even) td{
    background-color: #C0C0C0;
}

thead tr td:first-of-type {
    border-radius: 20px 0px 0px 0px;
}

thead tr td:last-of-type {
    border-radius: 0px 20px 0px 0px;
}

tbody tr:last-of-type td:first-of-type {
    border-radius: 0px 0px 0px 20px;
}

tbody tr:last-of-type td:last-of-type {
    border-radius: 0px 0px 20px 0px;
}

.scroll-container {
    position: fixed;
    top: 370px;
    left: 50px;
    width: 125px;
    z-index: 4;
}

.scroll-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255,255,255,0.2);
    border-radius: var(--border-radius);
}

.scroll-element a {
    font-size: 1rem;
    color: black;
    text-decoration: none;
    margin: .25rem 0;
    font-weight: bold;
    transition: font-size .3s ease-in-out, color .3s ease-in-out, text-shadow .3s ease-in-out;
}

a.scrollActive,
.scroll-element a:hover {
    font-size: 1.1rem;
    color: var(--grey-medium);
    text-shadow: var(--text-shadow-standard);
}

#homepageSettingsSymbol {
    position: fixed;
    top: 300px;
    left: 92px;
}

#homepageSettingsContainer {
    display: none;
    position: fixed;
    top: 200px;
    left: 130px;
    height: 450px;
    width: 450px;
    padding: 1rem;
    background-color: #495057;
    border: 2px solid black;
    border-radius: var(--border-radius);
    transition: width .5s ease-in-out;
}

.settings-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: .5rem;
}

#settings-box:hover #homepageSettingsContainer {
    display: block;
    animation-duration: 1s;
    animation-name: boxgrow;
    z-index: 4;
}

@keyframes boxgrow {
    0%  {   width: 1px;
            height: 450px;}
    
    100% {   width: 450px;
            height: 450px;}
}


#settings-box:hover>#homepageSettingsContainer * {
    animation: 1s fadeIn;
    animation-fill-mode: forwards;
    opacity: 0;
}

.settings-row>.chartScopeForm:first-of-type>input[type="submit"] {
    border-radius: 20px 0px 0px 20px;
}

.settings-row>.chartScopeForm:last-of-type>input[type="submit"] {
    border-radius: 0px 20px 20px 0px;
}

#settings-box span {
    color: white;
    font-size: 1.25rem;
}

#settings-box label {
    display: inline-block;
    min-width: 8rem;
    height: 2.25rem;
    padding: .5rem;
    border: 1px solid white;
    border-radius: 20px 0px 0px 20px;
    color: white;
    align-self: center;
    justify-self: center;
}

#settings-box input[type="number"] {
    border: 0;
    background-color: transparent;
    font-size: 1.3rem;
    font-family: inherit;
    font-weight: bold;
    color: white;
    width: 4rem;
}

#settings-box input[type="number"].change-goals {
    width: 6rem;
}

/* xxxxxxxxxxxxxxxxxxxxx OVERVIEW-VIEW xxxxxxxxxxxxxxxxxxxxx */
.diagramm-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* xxxxxxxxxxxxxxxxxxxxx MONTHLY-PAGE-VIEW xxxxxxxxxxxxxxxxxxxxx */
/* === ENTRY-FORMULAR === */
section.form-container {
    /* -ms-grid-row: 2; */
    /* -ms-grid-column: 1; */
    -ms-grid-column-span: 3;
    grid-area: main;
    /* display: -webkit-box; */
    /* display: -ms-flexbox; */
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 1rem;
    background: var(--background-standard);
    border-radius: var(--border-radius);
    border: var(--border-container);
    margin-left: 5rem;
    margin-right: 2rem;
    transition: var(--container-transition);
    height: 400px;
}

section.form-container:hover {
    box-shadow: var(--container-hover);
}

#entry-form .form-row:last-of-type {
    margin-bottom: 2rem;
}

.label {
    display: inline-block;
    align-self: center;
    text-align: center;
    height: 100%;
    min-width: 30%;
    padding: .8rem 1rem;
    background-color: var(--grey-heavy);
    color: white;
    cursor: text;
    border: var(--border-standard);
    border-radius: 20px 0px 0px 20px;
    transition: font-weight .2s ease-in-out, font-size .2s ease-in-out, padding .2s ease-in-out;
}

.input {
    display: block;
    width: 70%;
    max-width: 70%;
    border: var(--border-standard);
    outline: 0;
    transition: var(--transition-input);
    border-radius: 0px 20px 20px 0px;
    padding-left: .5rem;
    font-size: inherit;
    font-family: inherit;
    background-color: var(--grey-medium);
}

/* === ADDITIONAL-AREA === */
.additional-container {
    /* -ms-grid-row: 2; */
    /* -ms-grid-column: 5; */
    grid-area: additional;
    padding: 1rem 1rem;
    border-radius: var(--border-radius);
    margin-right: 1rem;
    transition: var(--container-transition);
    background: var(--background-standard);
    border: var(--border-container);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30rem;
    max-height: 850px;
}

.additional-container:hover {
    box-shadow: var(--container-hover);
}

.additional-row {
    width: 100%;
    display: inline-flex;
    margin: .5rem auto;
    align-items: center;
    justify-content: center;
    position: relative;
}

.additional-row:nth-of-type(3) {
    margin: 0;
}

.additional-row input[type="month"] {
    border: 0;
    background-color: transparent;
    font-size: 1.3rem;
    font-family: inherit;
    font-weight: bold;
}

.additional-row input[type="image"] {
    display: none;
}

.additional-row:hover input[type="image"] {
    display: inline-block;
    position: absolute;
    left: 320px;
    bottom: 5px;
}

.additional-row span{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: .5rem 1rem;
    width: 90%;
}

.additional-label {
    display: inline-block;
    align-self: center;
    text-align: center;
    height: 2rem;
    width: 60%;
    padding: .3rem 1rem;
    background-color: var(--grey-heavy);
    color: white;
    cursor: text;
    border: var(--border-standard);
    border-radius: 20px 0px 0px 20px;
    transition: font-weight .2s ease-in-out, font-size .2s ease-in-out, padding .2s ease-in-out;
}

.additional-input {
    display: block;
    align-self: center;
    text-align: center;
    height: 2rem;
    width: 40%;
    border: var(--border-standard);
    outline: 0;
    transition: var(--transition-input);
    padding-left: .5rem;
    font-size: inherit;
    font-family: inherit;
    background-color: var(--grey-medium);
}

.additional-row span.list-caption {
    display: inline-block;
    margin-left: 12rem;
    font-style: italic;
    font-size: 1.15rem;
    margin-top: 0;
    margin-bottom: 0;
}

span>.additional-input:first-of-type {
    border-radius: 0px 0px 0px 0px;
}

span>.additional-input:last-of-type {
    border-radius: 0px 20px 20px 0px;
}

.additional-row input[type="submit"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.additional-row>span.circle {
    border: var(--border-standard);
    padding: .5rem 1rem;
    text-align: center;
    border-radius: 100%;
    width: 40%;
    height: 5rem;
    line-height: 1.5rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    transition: box-shadow .5s ease-in-out, line-height .5s ease-in-out, color .5s ease-in-out, border-color .5s ease-in-out,.5s ease-in-out, width .5s ease-in-out, border-width .5s ease-in-out, font-size .5s ease-in-out;
}

.additional-row>span.circle:hover {
    position: relative;
    height: 7rem;
    width: 60%;
    border-width: 4px;
    font-size: 1.3rem;
    line-height: 2rem;
    box-shadow: 0px 0px 10px black;
}

.additional-row:nth-of-type(6)>span.circle:hover {
    border-color: var(--green-neon);
    color: var(--green-neon);
    text-shadow: var(--text-shadow-standard);
}

.additional-row:nth-of-type(7)>span.circle:hover {
    border-color: var(--red-danger);
    color: var(--red-danger);
    text-shadow: var(--text-shadow-standard);
}

.additional-row:last-of-type>span:hover {
    border-color: #001eff;
    color: #001eff;
}

.additional-row>span.positive {
    background-color: var(--green-medium);
    border-color: var(--green-heavy);
}

.additional-row>span.negative {
    background-color: var(--red-danger);
    border-color: black;
    border-width: 2px;
}

/* === ENTRY-LIST === */
.list-container {
    /* -ms-grid-row: 3; */
    /* -ms-grid-column: 2; */
    -ms-grid-column-span: 3;
    grid-area: list;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: var(--background-standard);
    border: var(--border-container);
    border-radius: var(--border-radius);
    padding: .5rem 2rem;
    flex-direction: column;
    width: 53rem;
    margin-right: 2rem;
    transition: var(--container-transition);
    position: relative;
}

.list-container:hover {
    box-shadow: var(--container-hover);
}

.table-row {
    position: relative;
    width: 100%;
    height: 2.75rem;
    text-align: center;
    margin-top: .25rem;
    margin-bottom: .25rem;
    font-size: 0;
}

.table-row:first-of-type{
    margin-top: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: transparent !important;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.table-row:nth-of-type(2) {
    height: 2rem;
    text-align: center;
    background-color: transparent !important;
}

.table-row:nth-of-type(odd) {
    background-color: var(--grey-medium);
}

.table-row:nth-of-type(even) {
    background-color: #C0C0C0;
}

.table-row:last-of-type {
    height: 2.5rem;
    background-color: transparent !important;
    margin-bottom: 1rem;
}

.table-row:nth-of-type(2) input[type = "image"] {
    margin-left: .5rem;
    transition: 1s;
}

.table-row:nth-of-type(2) input[type = "image"]:hover {
    transform: rotateZ(360deg);
}

.table-row>h1 {
    font-size: 1.5rem;
}

.table-row>.table-span{
    display: inline-block;
    width: 17%;
    height: 100%;
    margin: 0;
    font-size: 1rem;
    border: var(--border-standard);
}

.table-row:nth-of-type(2)>.table-span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--green-medium);
}

.table-row>.table-span:last-of-type {
    height: 100%;
    width: 15%;
    display: inline-flex;
    float: right;
    align-items: center;
    justify-content: center;
}

.table-span>select,
.table-span>input {
    text-overflow: ellipsis;
    display: block;
    width: 100%;
    height: 80%;
    margin: .25rem 0;
    background-color: transparent;
    border: none;
    text-align: center;
}

select.edit,
input.edit {
    background-color: var(--grey-heavy);
    color: white;
    font-weight: bold;
    border: var(--green-neon) 1px solid;
    box-shadow: 0px 0px 10px var(--green-neon);
    height: 100%;
    margin: 0;
}

.table-span+input.edit {
    box-shadow: none;
}

.entry-list-form {
    margin: 0;
    padding: 0;
}

.table-row:nth-of-type(2)>.table-span:first-of-type {
    border-radius: 20px 0px 0px 0px;
}

.table-row:nth-of-type(2)>.table-span:last-of-type {
    border-radius: 0px 20px 0px 0px;
}

.fixedentryform {
    position: relative;
}

.infofixedentrycheckbox {
    position: absolute;
    display: none;
    font-size: 1rem;
    background-color: var(--grey-heavy);
    color: white;
    border-radius: var(--border-radius);
    border: black 1px solid;
    padding: 1rem 1rem;
}

.fixedentryform:hover .infofixedentrycheckbox {
    display: block;
    width: 230px;
    height: 110px;
    right: -50px;
    bottom: 10px;
    box-shadow: 0px 0px 15px black;
}

.fixedentryform>label {
    position: absolute;
    display: inline-block;
    right: 50px;
    bottom: -25px;
}

.fixedentryform>input {
    position: absolute;
    display: inline-block;
    right: 15px;
    bottom: -30px;
    width: 25px;
    height: 25px;
}

.btn-transfer {
    left: 28px;
    top: 30px;
    position: absolute;
    color: black;
    margin: 0 .3rem;
    padding: .3rem .7rem;
    font-size: .7rem;
    border-radius: var(--border-radius);
}

.transferActive {
    background-color: var(--green-medium);
    border: var(--border-standard-btn);
    transition: var(--transition-button);
}

.transferActive:hover {
    background-color: var(--green-heavy);
    border: var(--border-hover-btn);
    color: var(--green-neon);
}

.transferInactive {
    background-color: transparent;
    border:  1px solid var(--grey-heavy);
}

.fixedentry {
    box-shadow: 0px 0px 15px var(--gold);
    outline: solid var(--gold) 1px;
    border: 1.5px solid var(--gold);
}

.boxfixedentry {
    position: absolute;
    top: 0px;
    left: -20px;
}

/* Pagination */
#pagination {
    width: 100%;
    border-radius: 0px 0px 20px 20px;
    background-color: var(--green-medium);
}

.pagination-a {
    border: var(--border-standard);
    border-radius: var(--border-radius);
    background-color: var(--grey-heavy);
    color: white;
    padding: .15rem .35rem;
    margin: .2rem .2rem;
    transition: background-color .2s ease-in-out, color .2s ease-in-out, font-weight .2s ease-in-out;
}

.pagination-active,
.pagination-a:hover {
    background-color: var(--grey-light);
    color: black;
    font-weight: bold;
}

#pagination-setting {
    display: none;
    text-align: center;
    position: relative;
}

.list-container:hover #pagination-setting {
    display: block;
}

.list-container input[type="number"] {
    border: 0;
    background-color: transparent;
    font-size: inherit;
    font-family: inherit;
    width: 2.5rem;
}

#pagination-setting input[type="image"] {
    display: none;
}

#pagination-setting:hover input[type="image"] {
    display: inline-block;
    position: absolute;
    left: 480px;
}